*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-image: url(./007-Animated-Login-Page/img/bg.jpg);
    height: 100vh;
    width: 100%;
    margin: auto;
}

.ground{

}


.bicyle{

}